/Blood Safety and Availability/build/
/Blood Safety and Availability/Databank.db4o
/Blood Safety and Availability/nbproject/private/
/Blood Safety and Availability/dist/
/Blood Safety and Availability/nbproject/private/private.properties
/Blood Safety and Availability/nbproject/private/private.xml
